@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --default-text-color: #000000;
  --discription--color: #666666;
  --primary-color: #b88e2f;
  --room-catagory--color: #333333;
  --cards-color: #3a3a3a;
  --button-text--color: #ffffff;

  --primary-bg-color: #fff3e3;
  --button-bg-color: #b88e2f;
  --primary-bg-card-color: #fae5b3;
  --card-bg-color: #f0f1f5;
}

.header {
  max-width: 1440px;
  height: 800px;
  margin: auto;
}

.header-container {
  display: flex;
  flex-direction: column;
}

.navigation {
  max-width: 1440px;
  padding: 30px 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 180px;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;

  font-family: 'Montserrat', sans-serif;
  font-size: 34px;
  font-weight: 700;
  color: var(--default-text-color);

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menu-list {
  width: 430px;
  height: 25px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu-link {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: var(--default-text-color);
}

.icons-list {
  width: 150px;
  height: 25px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icon-link {
  color: var(--default-text-color);
}

.introduction {
  max-width: 1440px;
  height: 700px;
  background-image: url(../Images/header-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
}

.introduction-block {
  width: 640px;
  height: 440px;

  margin: auto;
  padding-top: 60px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;

  position: absolute;
  right: 50px;
  bottom: 100px;

  border-radius: 25px;
  border: 1px solid black;
  background-color: var(--primary-bg-card-color);
}

.new-arrival {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  letter-spacing: 3px;

  /* Font / Color */
  color: var(--room-catagory--color);

  margin-bottom: 5px;
}

.first-head {
  max-width: 400px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 65px;
  /* or 125% */

  /* Primary */
  color: var(--primary-color);
  margin-bottom: 15px;
}

.intro-discription {
  max-width: 500px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  /* or 133% */

  /* Font / Color */
  color: var(--room-catagory--color);
}

.buy-now-button {
  margin-top: 45px;
  width: 200px;
  height: 70px;
  background-color: var(--button-bg-color);
  border-radius: 25px;

  /* Book an Appointment */

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  text-transform: uppercase;

  color: #ffffff;
}

/* Main section */

.main {
  height: auto;
  margin: auto;
}

.category {
  margin-top: 100px;

  width: 100%;
  height: 700px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.category-text {
  text-align: center;
}

.category-title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 65px;
  /* identical to box height */

  /* Primary */
  color: var(--default-text-color);
}

.category-discription {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;

  /* Font / Color1 */
  color: var(--discription--color);
}

.category-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.category-card-link {
  width: 380px;
  height: 500px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  text-align: center;
}

.category-card-image {
  width: 350px;
  height: 500px;
  border-radius: 25px;
}

.category-card-title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */
  color: var(--default-text-color);
}

.products {
  width: 1200px;
  height: auto;
  margin: auto;
}

.product-title {
  text-align: center;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 65px;
  /* identical to box height */

  /* Primary */
  color: var(--default-text-color);

  margin-bottom: 30px;
}

.products-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.product-card {
  width: 280px;
  height: 450px;
}

.product-card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  padding: 20px;
  background-color: var(--card-bg-color);
}

.product-card-image {
  width: 280px;
  height: 280px;
}

.product-card-title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;

  color: var(--default-text-color);
}

.product-card-discription {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: var(--discription--color);
}

.product-card-price {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height */
  color: var(--default-text-color);
}

.show-more-button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.show-more-button {
  width: 200px;
  height: 70px;
  background-color: var(--button-text--color);
  border-radius: 25px;
  border: 1px solid var(--primary-color);

  /* Book an Appointment */

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  text-transform: uppercase;

  color: var(--primary-color);
}

.rooms-inspiration {
  width: 100%;
  height: 700px;
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
  left: 0;

  background-color: var(--primary-bg-card-color);
}

.inspirations-offers {
  position: absolute;
  left: 100px;
  top: 220px;
}

.inspiration-text {
  width: 600px;
  height: auto;
}

.inspiration-title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 65px;
  /* identical to box height */

  /* Primary */
  color: var(--default-text-color);
}

.inspiration-discription {
  width: 500px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  /* Font / Color1 */
  color: var(--discription--color);
}

.explore-more-button {
  margin-top: 20px;

  width: 200px;
  height: 70px;
  background-color: var(--button-bg-color);
  border-radius: 25px;
  border: 1px solid var(--default-text-color);

  /* Book an Appointment */

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  text-transform: uppercase;

  color: var(--button-text--color);
}

/* Slider Wrapper */
.slider {
  width: 100%;
  max-width: 750px;
  margin: auto;
  overflow: hidden;
  position: absolute;

  left: 750px;
  top: 50px;
}

.slide {
  flex: 0 0 100%; /* Each slide takes up 100% of the container width */
  height: 100%; /* Match the container height */
  position: relative; /* Ensure content inside slides is positioned correctly */
}

.slider-container {
  width: 400px;
  height: 600px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  transition: transform 0.5s ease-in-out;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content {
  width: 200px;
  padding: 20px;

  position: absolute;
  bottom: 40px;
  left: 30px;

  background-color: rgba(255, 255, 255, 0.8);
}

.content-discription {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: var(--default-text-color);
}

.content-title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */
  color: var(--default-text-color);
}

.next-slide-btn {
  position: absolute;
  right: -50px;
  bottom: -25px;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;

  color: var(--button-text--color);
  background-color: var(--button-bg-color);

  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-image {
  width: 400px;
  height: 600px;
}

footer {
  width: 100%;
  height: 400px;
  border-top: 1px solid grey;
}

.footer-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  border-bottom: 1px solid grey;
  width: 80%;
  height: 350px;
  padding: 50px;
  margin: auto;
}

.footer-item {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.footer-link {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height */
  color: var(--default-text-color);
}

.adrress {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: var(--discription--color);
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-items {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height */
  color: var(--discription--color);
}

.footer-links-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-links-link {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: var(--default-text-color);
}

.footer-support {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-support-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-support-link {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: var(--default-text-color);
}

.footer-social-media {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-social-media-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-social-media-link {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: var(--default-text-color);
}

.policy {
  margin-top: 20px;
  margin-left: 150px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: var(--discription--color);
}
