@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --default-text-color: #000000;
  --discription--color: #666666;
  --primary-color: #b88e2f;
  --room-catagory--color: #333333;
  --cards-color: #3a3a3a;
  --button-text--color: #ffffff;

  --primary-bg-color: #fff3e3;
  --button-bg-color: #b88e2f;
  --primary-bg-card-color: #fae5b3;
  --card-bg-color: #f0f1f5;
}


.vector{
    width: 100%;
    height: 300px;

    background-image: url(../Images/shop-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.vector-title{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: var(--room-catagory--color);
}

.vector-steps{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.home-link{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--default-text-color);
}

.shop-link{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--discription--color);
}

.functional-panel{
    width: 100%;
    height: 100px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background-color: var(--primary-bg-color);
}

.filter-menu{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.filter-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.filter-button-text{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--default-text-color);
}

.products-amount{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.amount{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.amount-text{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--default-text-color);
}

.amount-button{
    padding: 10px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 24px;
    color: var(--discription--color);

    background-color: white;
}

.sorting{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.sorting-text{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--default-text-color);
}

.sorting-button{
    padding: 10px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--discription--color);

    background-color: white;
}

.main{
    margin-top: 100px;
    height: auto;
}

.page-buttons{
    margin-top: 50px;
    margin-bottom: 50px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.page-button{
    padding: 20px;
    width: 50px;
    height: 50px;
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;


    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--discription--color);

    background-color: var(--primary-bg-card-color);
}

.active{
    background-color: var(--button-bg-color);
}

.rewards{
    width: 100%;
    height: 250px;

    background-color: var(--primary-bg-color);
    margin: auto;

       display: flex;
    
}

.rewards-list{
    width: 80%;
    margin: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.rewards-list-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.rewards-image > span{
    font-size: 70px;
}

.rewards-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rewards-info-title{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: var(--default-text-color);
}

.rewards-info-text{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--discription--color);
}